##CUSTOM CONFIGURATION FILE
######==== TOOL LOCATIONS     ====#####

TOPHAT=/usr/bin/tophat2
BOWTIE=     /usr/bin/bowtie2 
STAR = /home/modupe/.software/STAR/bin/Linux_x86_64/STAR
HISAT = /usr/bin/hisat2
BWA = /usr/bin/bwa
PICARD = /usr/local/picard-tools/picard.jar
GATK = /usr/local/GATK/GenomeAnalysisTK.jar
SAMTOOLS = /usr/local/bin/samtools
BCFTOOLS = /usr/bin/bcftools
FASTQC = /home/modupe/.software/FastQC/fastqc

######==== INPUT FILE OPTIONS ====#####

GFF = /home/modupe/.big_ten/chicken/chicken.gff	#gff file
GENOME = /home/modupe/.big_ten/chicken/chicken/chicken.fa       #full path + reference.fasta
GENOMEDIR = /home/modupe/.big_ten/chicken/chicken     #full path to reference file and indexes
GENOMEINDEX = /home/modupe/.big_ten/chicken/chicken/chicken     #full path + reference index

FASTQ = /home/modupe/ROSS_Genotyping/tissues/abdominal_adipose/*gz #/home/modupe/false	#fastq file(s) [or false]
SAM = false	#sam file(s) [or false]
BAM = false #/home/modupe/ROSS_Genotyping/DONE/breast_muscle/*bam	#bam file(s) [or false]

######==== OPTIONS ====#####

THREADS = 16    #number of threads for alignment process

######==== OUTPUT FOLDER ====#####

OUTPUTDIR = /home/modupe/OUTPUTs	#output folder

#####################################

######==== WORKFLOW ====#####
#specify true or false

##if RNA
sampleRNA = true

#Alignment 
runTopHat = true
runHISAT = true
runSTAR = true

##if DNA
sampleDNA = false

#Alignment
runBWA = false
runBOWTIE = false

#DownStream
runFastqc = true
runVAP = false

#typeofVAP
runGATK = true
runSAMTOOLS = true

##############################

#NOTIFICATION [optional] #where you want status updates to be delivered to
EMAIL= amodupe@udel.edu
SUBJECT = BWA-alignment to VCF

## - - - - - - - - - - - - - - - - - - - - - - - - - - - - ##
## - - - - - - - - - - - - - - - - - - - - - - - - - - - - ##
