#SOFTWARES
###IF ASSEMBLY
TOPHAT= /usr/bin/tophat
BOWTIE2= /usr/bin/bowtie2

###IF VARIANT ANALYSIS
PICARDDIR = /home/modupe/.software/picard-tools-1.136 [picard directory]
GATKDIR = /home/modupe/.software/GenomeAnalysisTK-3.3-0 [GATK directory]

##IF VARIANT ANNOTATION
VEP = /home/modupe/.software/ensembl-tools-release-81 [VEP directory]
SNPEFF= [SNPeff directory]

#INPUT #required
TYPEOFINPUT = bam [specify BAM/FASTQ] 
TYPEOFDATA = rna [specify RNA/DNA]
FILENAME = 
REFERENCE = 
ORGANISM = chicken
GFF = 


#FILTERING
FILTER = yes [specify YES/NO]
DP = 5 [numbers only]
... [more to come]

#OUTPUT
FOLDER = 

#ANNOTATION [optional]
TOOL = [specify tool name e.g vep, snpeff] 
## if VEP {
        ##optional : run the program and saved desired annotations in its default folder 
        VEPFORMAT= [ specify “cache” if annotation has been previously stored. Note : default is database]
}
## if SNPeff {

}

#NOTIFICATION [optional] #where you want status updates to be delivered to
EMAIL= [email address]
SUBJECT = [subject of email or default will be set]
