#SOFTWARES
###IF ASSEMBLY {
TOPHAT= /usr/bin/tophat [Tophat path if not in user's executable path]
BOWTIE2= /usr/bin/bowtie2 [Bowtie2 path if not in user's executable path]
}
###IF VARIANT ANALYSIS {
PICARDDIR = /usr/local/picard-tools/
GATKDIR = /usr/local/GATK/
}
###IF VARIANT ANNOTATION {
VEP = /home/amodupe/.software/ensembl-tools-release-81 [VEP directory, if not in user's executable path]
SNPEFF= [SNPeff directory, if not in user's executable path]
ANNOVAR = [Annovar directory, if not in user's executable path]
}

## - - - - - - - - - - - - - - - - - - - - - - - - - - - - ##
## - - - - - - - - - - - - - - - - - - - - - - - - - - - - ##

###INPUT FILES:
##INPUTs required 
TYPEOFINPUT = bam [specify BAM/FASTQ] 
TYPEOFDATA = dna [specify RNA/DNA]
FILENAME = /home/amodupe/workmodupe/Lamont/BWA/1_M_15.bam [location with name of file]
REFERENCE = /home/amodupe/.GENOMES/chicken/chicken.fa [reference genome path]
ORGANISM = chicken [prganism name]
GFF = /home/amodupe/.big_ten/chicken/chicken.gff [anotation file path]

#FILTERING      ##https://software.broadinstitute.org/gatk/documentation/article?id=2806
#Filtering Options {
FILTER = yes [specify YES/NO]
SEPARATEVARIANTS = yes [specify YES/NO, #if no, the 'SNPS' section only be considered.]
#SNPS
DP = 5 [greater than or null]
QD = 2.0 [greater than or null]
MQ = 40.0 [greater than or null]
MQRankSum = -12.5 [greater than or null]
FS = 60.0 [less than or null]
ReadPosRankSum = -8.0 [greater than or null]

#INDELS
DP = 5 [greater than or null]
QD = 2.0 [greater than or null]
FS = 200.0 [less than or null]
ReadPosRankSum = -20.0 [greater than or null]
}

## - - - - - - - - - - - - - - - - - - - - - - - - - - - - ##
## - - - - - - - - - - - - - - - - - - - - - - - - - - - - ##

#OUTPUT FOLDER: 
FOLDER = /home/amodupe/workmodupe/Lamont/BWA/

## - - - - - - - - - - - - - - - - - - - - - - - - - - - - ##
## - - - - - - - - - - - - - - - - - - - - - - - - - - - - ##

#ANNOTATION [optional]
TOOL = [specify tool name e.g vep, snpeff, annovar] 
## if VEP {
        ##optional : run the program and saved desired annotations in its default folder 
        VEPFORMAT= [ specify “cache” if annotation has been previously stored. Note : default is database]
}
## if SNPeff {

}
## if ANNOVAR {

}

## - - - - - - - - - - - - - - - - - - - - - - - - - - - - ##
## - - - - - - - - - - - - - - - - - - - - - - - - - - - - ##

#NOTIFICATION [optional] #where you want status updates to be delivered to
EMAIL= amodupe@udel.edu
SUBJECT = BWA-alignment to VCF

## - - - - - - - - - - - - - - - - - - - - - - - - - - - - ##
## - - - - - - - - - - - - - - - - - - - - - - - - - - - - ##
