params.tophat = "/usr/local/bin/tophat2"
params.star = "/usr/local/bin/star"
params.hisat = "/usr/local/bin/hisat2"
params.bwa = "/usr/local/bin/bwa"
params.bowtie = "/usr/local/bin/bowtie"
params.picard = "/usr/local/picard/picard.jar"
params.gatk = "/usr/local/gatk/GenomeAnalysisTK.jar"
params.samtools = "/usr/local/bin/samtools"
params.fastqc = "/usr/local/bin/fastqc"
